.container{
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}
.left-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right-container{
    background: #FD5334;
    width: 50%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.first-rec{
    position: relative;
    width: 100%;
    height: 10vh;
}

.left-cont-title{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin-left: 60px;
    font-size: 20px;
    
}

.left-cont-title img {
    align-self: center;
    margin-right: 0.2em;

}
.chess-img{
    height: 90vh;
}
.content{
    background: #FD5334;
    top: 20%;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    align-items: center;
}
.content h1 {
    width: 600px;
    font-size: 80px;
}
span{
    font-size: 20px;
    color: black;
    position: absolute;
    top: 31%;
    right: 40px;
    z-index: 1;
    font-family: 'Nunito', sans-serif;
}
.button-container{
    margin-right: 400px;
    margin-top: 60px;
    width: 191px;
    height: 53px;
    border-radius: 8px;
    display: flex;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    background: #212529;
    cursor: pointer;

}
.button-container:hover{
    border: 3px solid rgb(215, 126, 215);
}

.button-container img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.links {
    text-decoration: none;
    color: #FFFFFF;
}




