.form-container{
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}
.left--container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right--container{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: white;;
    
}
.first--rec{
    position: relative;
    width: 100%;
    height: 10vh;
}

.left--cont--title{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin-left: 60px;
    font-size: 20px;
    
}

.left--cont--title img {
    align-self: center;
    margin-right: 0.2em;

}
.chess--img{
    height: 90vh;
}
.quote-container{
    position: absolute;
    top: 25%;
    left: 5%;
    font-family: 'Nunito';
    text-transform: uppercase;
    font-style: italic;
    width: 31.8%;
}
.quote-container p {
    font-size: 26px;
    font-weight: 800;
    color: ;
    

}
.quote-container h3 {
    
    font-size: 24px;
    font-weight: 400;
    
    
}

.form{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    
}
.first-paragraph {
    height: calc(10vh - 1px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.first-paragraph p {
   padding-left: 30px;
   font-family: 'Open Sans';
    
}
.progressbar{
    display: flex;
    height: 100px;
    padding-left: 30px;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-family: 'Open Sans';
    color: #95939A;
}
.progressbar p {
    background-color: #E5E6E8;
    width: 50px;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    border-radius: 8px;
}
.progressbar .span{
    width: 100px;
    height: 2px;
    
}
.small-form-container{
    margin-top: 80px;
}
.header {
    font-family: 'Open Sans';
    padding-left: 30px;
}
.header h1{
    margin-bottom: 0;
}
.header h6{
    margin-top: 0;
    font-weight: 200;
    font-size: 14px;
    color: #95939A;
}
.buttons{
    width: 86.5%;
    padding-left: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
}
.button{
    height: 53px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Open Sans';
}
.decrement{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 90px;
}
.increment{
    background-color: black;
    color: white;
    width: 128px;
}

.decrement:hover{
    background-color: #F5F5f5;
}

.increment:hover{
    border: 3px solid rgb(215, 126, 215);

}